.menu {
    background-color: $black !important;
    width: 100%;
    height: 100vh;
    padding: 0 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -633px;
    opacity: 0;
    z-index: -1;
    @include transition-menu(0.8s);

    #cerrar-menu {
        position: absolute;
        top: 15px;
        right: 15px;
        @include font-size(1.4rem);

        color: $white;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $primary;
        }
    }

    .menu-contenido {
        width: 100%;
        text-align: center;
        // color: ;

        .logo {
            width: 180px;
        }

        nav,
        #btn-contacto,
        #social,
        #contacto-menu {
            width: 100%;
            float: left;
            display: block;
        }

        nav,
        #social,
        #contacto-menu {
            a {
                color: $white;
                position: relative;
                text-decoration: none;

                &:hover {
                    color: $primary;
                }
            }
        }

        nav {
            font-family: 'shapiro65_light_heavy_extd', sans-serif;
            width: 100%;
            float: left;
            font-weight: 300;
            line-height: 2.4rem;
            margin: 30px auto;
            text-align: center;
            text-transform: uppercase;
            @include font-size(1.4rem);

            a {
                position: relative;

                &::after {
                    background-color: $white;
                    content: '';
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    width: 0;
                    height: 3px;
                    @include transition(ease, 0.3s);
                }
        
                &:hover {
                    color: $white;
                    
                    &::after {
                        width: 100%;
                    }
                }
            }
        }

        #btn-contacto {
            background-color: $primary;
            margin: 0 auto 30px;
        }

        #social {
            @include font-size(2rem);
        }

        #contacto-menu {
            // color: ;
        }
    }
}

.menu-abierto {
    right: 0;
    opacity: 1;
    z-index: 9999;
}

#backdrop {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -2;
    @include transition(ease, 0.2s);
}

.backdrop-opacity-1 {
    opacity: 1 !important;
    z-index: 998 !important;
    @include transition(ease, 0.2s);
}
