// Fonts
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';

@font-face {
    font-family: 'moderatlight';
    src: url('../assets/fonts/moderat_light-webfont.woff2') format('woff2'),
         url('../assets/fonts/moderat_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'shapiro65_light_heavy_extd';
    src: url('../assets/fonts/shapiro_65_light_heavy_extd-webfont.woff2') format('woff2'),
         url('../assets/fonts/shapiro_65_light_heavy_extd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}