// Global styles
html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    color: $secondary;
    font-family: 'moderatlight', sans-serif;
    position: relative;
}

header,
section,
footer {
    width: 100%;
    float: left;
}

.mh-100 {
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'shapiro65_light_heavy_extd', sans-serif;
    text-transform: uppercase;
}

.color-black {
    color: $black;
}

.color-primary {
    color: $primary;
}

.color-secondary {
    color: $secondary;
}

.bg-black {
    background-color: $black !important;
    color: $white;
}

.bg-primary {
    background-color: $primary !important;
    color: $white;
}

.bg-secondary {
    background-color: $secondary !important;
    color: $black;
}

a {
    text-decoration: none;
    @include transition(ease, 0.3s);
}

.btn {
    border: none;
    border-radius: 0;
    @include transition(ease, 0.3s);

    &:hover {
        opacity: 0.8;
    }
}

.py-60 {
    padding: 60px 0;
}

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.py-30 {
    padding: 30px 0;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.whatsapp {
    @include whatsapp-button;
}

#navbar {
    width: 100%;
    height: auto;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    @include transition(ease, 0.2s);

    #logo-navbar {
        width: 100px;
        @include transition(ease, 0.2s);
    }

    a {
        color: $white;
        @include transition(ease, 0.3s);
    }

    nav {
        font-family: 'shapiro65_light_heavy_extd', sans-serif;
        text-transform: uppercase;
        @include font-size(.8rem);

        a {
            position: relative;

            &::after {
                background-color: $white;
                content: '';
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 0;
                height: 3px;
                @include transition(ease, 0.3s);
            }
    
            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }

        ul {
            margin-bottom: 0;
        }
    }

    #mburger {
        color: $white;
        @include font-size(1.4rem);

        &:hover,
        &:focus {
            color: $primary;
        }
    }
}

.navbar-scroll {
    background-color: $black;
    padding: 10px 30px !important;
    @include transition(ease, 0.3s);

    #logo-navbar {
        width: 60px !important;
    }

    #mburger {
        // color: !important;
    }
}

form {
    .form-control {
        background-color: transparent;
        border: none;
        border-bottom: 1px;
        border-radius: 0;
        border-bottom-style: solid;

        &:focus {
            background-color: transparent;
        }
    }

    .form-floating > .form-control:focus ~ label,
    .form-floating > .form-control:not(:placeholder-shown) ~ label,
    .form-floating > .form-control-plaintext ~ label,
    .form-floating > .form-select ~ label {
        background-color: transparent;
        color: $black;
    }

    .form-floating > .form-control:focus ~ label::after,
    .form-floating > .form-control:not(:placeholder-shown) ~ label::after,
    .form-floating > .form-control-plaintext ~ label::after,
    .form-floating > .form-select ~ label::after {
        background-color: transparent;
     }
}

hr {
    border-top-width: 4px;
    border-top-style: solid;
    width: 40px;
    opacity: 1;
}  

#banner {
    @include background('../assets/images/bg-banner.webp', center, cover);
    min-height: 100vh;
    color: $white;
    padding-top: 60px;
    overflow: hidden;

    .container,
    .row:first-child {
        height: 100vh;
    }

    hr {
        border-top-color: $white;
        margin: 30px auto;
    }  
    
    .swiper-decor {
        position: relative;

        &::after {
            @include background('../assets/images/decor-banner.webp', center bottom, contain);
            content: '';
            width: 100%;
            height: 400px;
            position: absolute;
            bottom: 0;
            @include absolute-center-x;
        }
    }

    .swiper-pagination {
        bottom: 50px;
    }

    .swiper-pagination-bullet {
        background-color: transparent;
        border: 1px solid $white;
        width: 15px;
        height: 15px;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background-color: $white;
    }

    .swiper-button-prev,
    .swiper-button-next {
       color: $white;
    }

    form {
        text-transform: none;

        .form-control {
            color: $white;
            border-bottom-color: #797979;
        }

        .form-floating > .form-control:focus ~ label,
        .form-floating > .form-control:not(:placeholder-shown) ~ label,
        .form-floating > .form-control-plaintext ~ label,
        .form-floating > .form-select ~ label {
            color: $white;
        }
    }
}

.common-dark {
    h1 {
        position: relative;
        display: inline-block;

        &::after {
            position: absolute;
            content: '';
            @include absolute-center-y;
            right: -30px;
            width: 100px;
            height: 100px;
        }
    }
}

.common-light {
    h1 {
        color: $black;
    }

    h2 {
        text-transform: none;
    }

    .swiper-resultados,
    .swiper-podcast,
    .swiper-relacionados,
    .swiper-carrusel {
        width: 100%;
        float: left;
        // overflow: hidden;
        padding-top: 60px;
        position: relative;

        .swiper-button-prev,
        .swiper-button-next {
            background-color: $primary;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            top: 30px;

            &::after {
                @include font-size(0.8rem);
                color: $white;
            }
        }

        .swiper-button-prev {
            left: auto;
            right: 50px;
        }

        .swiper-button-next {
            right: 0;
        }
    }
}

#descanso {
    @include background('../assets/images/bg-descanso.webp', center, cover);
    color: $white;
    padding: 120px 0;
}

#grupo-san-francisco {
    @include background('../assets/images/bg-grupo-san-francisco.webp', center, cover);
    color: $secondary;

    #logo-grupo-san-francisco {
        max-width: 140px;
        margin: 0 auto 2rem;
    }

    .swiper-clientes {
        position: relative;
    }

    .swiper-clientes > .swiper-wrapper {
        transition-timing-function : linear;
        // justify-content: space-evenly;

        .swiper-slide {
            margin: auto 30px;
        }
    }
}

#servicios {
    background-color: #E9E9E9;

    h1 {
        color: $black;
    }

    .nav-pills {
        justify-content: center;

        .nav-item {
            .nav-link {
                border-radius: 0 !important;
                color: $secondary;
                font-family: 'shapiro65_light_heavy_extd', sans-serif;
                text-transform: uppercase;
                @include transition(ease, 0.3s);
            }

            .active {
                background-color: transparent;
                border-bottom: 2px solid $primary;
            }
        }
    }

    .servicio {
        background-position: center !important;
        background-size: cover !important;
        color: $white;
        margin-bottom: 1.5rem;
        position: relative;
        width: 100%;
        min-height: 300px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            color: $white;
            @include font-size(1.2rem);
        }

        p {
            margin-bottom: 0;
        }

        a {
            color: $white;
        }

        .overlay {
            background-color: rgba(0, 0, 0, 0);
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.5;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            @include transition(ease, 0.3s);

            a {
                position: absolute;
                width: 100%;
                height: 100%;
                display: block;
            }

            &:hover {
                background-color: rgba(255, 67, 67, 1);
            }
        }

        .nombre {
            position: relative;
            z-index: 2;

            &:hover {
                & + .overlay {
                    background-color: rgba(255, 67, 67, 1);
                }
            }
        }
    }
}

#confian {
    @include background('../assets/images/bg-confian.webp', center, cover);
    color: $white;

    span {
        text-decoration: underline;
    }

    .swiper-clientes-2 {
        position: relative;
    }

    .swiper-clientes-2 > .swiper-wrapper {
        transition-timing-function : linear;
        // justify-content: space-evenly;

        .swiper-slide {
            margin: auto 30px;

            img {
                opacity: 0.6;
                @include transition(ease, 0.3s);

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

#noticias {
    @include background('../assets/images/bg-noticias.webp', center, cover);
    color: $white;

    a {
        color: $white;
        text-decoration: none;
        @include transition(ease, 0.3s);
    
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    hr {
        border-top-color: $white;
        margin: 30px 0;
    }

    h1 {
        @include font-size(4rem);
    }

    h2 {
        @include font-size(1rem);
        position: relative;
        display: flex;
        align-items: center;

        .badge {
            background-color: $white !important;
            color: $primary;
            @include font-size(0.7rem);
            position: absolute;
            @include absolute-center-y;
            right: 0;
            padding: 7px 12px 5px;
        }

        &::after {
            background-color: $white;
            height: 1px;
            flex: 1;
            margin-left: 1rem;
            content: '';
        }
    }

    img {
        width: 100%;
    }

    .text-muted {
        color: #717171 !important;
    }

    nav {
        color: #717171;

        .navs {
            .nav-link {
                padding: 5px 15px 5px 0;

                &:first-child {}
            }

            .nav-link.active {
                color: $white;
            }
        }
    }
}

#contacto {
    hr {
        border-top-color: $black;
        margin: 30px 0;
    }  
    
    #thumb-contacto {
        width: 100%;
    }
}

#video {
    .video {
        aspect-ratio: 16 / 9;
        width: 100%;
    }
}

#mapa {
    line-height: 0;
    
    p {
        margin: 0;
        padding: 0;
    }
}

footer {
    @include background('../assets/images/footer/bg-footer.webp', center bottom, contain);
    padding: 100px 0 60px;
    @include font-size(0.9rem);

    a {
        color: $secondary;

        &:hover,
        &:focus {
            color: $primary;
        }
    }
}