.is-single {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $black;
    }
    
    #navbar {
        color: $white !important;

        .btn {
            border-color: $white;
            color: $white;
    
            &:hover,
            &:focus {
                background-color: $primary;
            }
        }

        #mburger {
            color: $white;
        }
    }

    .navbar-scroll {
        color: $black !important;
    
        .btn {
            border-color: $black !important;
            color: $black !important;
    
            &:hover,
            &:focus {
                background-color: $primary;
                color: $white !important;
            }
        }

        #mburger {
            color: $black !important;
        }
    }

    #jumbotron {
        min-height: 40vh;
        position: relative;

        #overlay {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    
    #body {
        a {
            color: $primary;
        }
        
        .titulo,
        .titulo-page,
        .titulo-cpt,
        .subtitulo {
            padding-left: 15px;
            position: relative;
        }

        .titulo,
        .titulo-page,
        .titulo-cpt {
            &::before {
                background-color: $black;
                position: absolute;
                left: 0;
                top: 16px;
                content: '';
                width: 5px;
                height: 40px;
            }
        }

        .titulo-page {
            &::before {
                top: 6px;
            }
        }

        .titulo-cpt {
            &::before {
                top: 22px;
            }
        }

        .subtitulo {
            color: $secondary;
            margin-bottom: 0;
            text-transform: uppercase;
            top: -15px;
        }
    }
}

.pagination {
    --bs-pagination-bg: transparent;

    .page-link {
        &:hover,
        &:focus {
            color: $primary !important;
            text-decoration: none !important;

        }
    }

    .active {
        .page-link {
            background-color: $white !important;
            border-color: $white !important;
            color: $primary !important;
        }
    }
}

.video-responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;

    iframe,
    object,
    embed {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}